[flake8]
extend-ignore = E203
max_complexity = 10
max_line_length = 127
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    ./venv/,
    Pipfile,
    Pipfile.lock,
    .pre-commit-config.yaml,