[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pact-python = "*"
pytest = "*"
yarl = "*"
requests = "*"
testcontainers = "*"
flask = "*"

[dev-packages]
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
